@import "./reset.css";

.container {
    max-width: 767px;
    margin: 0 auto;
    padding: 0 15px;
  }

.menu{
  display: none;
}

.sign__up-btn{  
  display: none;
}

.header__content{
  display: none;
}

.header__img {
 width: 300px;
}

.header__img {
  position: relative;
  flex-shrink: 0;
  margin-left: 8px;
}


.header__img::before {
  display: none;
}

.features__row {
  display: grid;
  justify-content: space-between;
  align-items: center;
  column-gap: 100px;
}

.features__text {
  margin: 0 auto 81px;
  max-width: 320px;
}

.features__column {
  width: 320px;
  text-align: center;
}

.features__column-title {
  margin-bottom: 15px;
  font-weight: 320;
  font-size: 16px;
  line-height: 1.1875;
  color: #172755;
}


.price{
  display: none;
}

.price__top{
  display: none;
}

.price__card{
  display: none;
}

.automated__column {
  width: 320px;
  flex-shrink: 0;
}
.automated__column-img {
  width: 320px;
  box-shadow: 0px 18px 50px -15px rgb(25 42 89 / 20%);
  border-radius: 30px;
}


.automated__row {
  display: grid;
  justify-content: space-between;
  align-items: center;
}

.companies__row {
  display: grid;
  justify-content: space-between;
  column-gap: 46px;
}

/* .companies__icons {
  width: 305px;
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 70px;
  column-gap: 105px;
} */

.companies {
  padding-top: 109px;
  max-width: 320px;
  margin: 0 auto;
}

.companies__column {
  width: 320px;
  height: 520px;
  position: relative;
}
.companies__column--mini-size {
  width: 320px;
  flex-shrink: 0;
}


.rating-area {
  width: 200px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row-reverse;
}

.footer__row {
  padding: 64px 0px 60px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu-list {
  display: flex;
}

.footer__social-list {
  display: flex;
  align-items: center;
}

.companies__column-inner {
  position: absolute;
  left: 6px;
  top: -42px;
  padding: 32px 40.5px;
  width: 320px;
  background-color: #fff;
  box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
  border-radius: 8px;
}

.footer__menu-item{
  display: none;
}